.route_detail {
  h6 {
    margin: 10px auto 0px 270px;
    font-size: 16px;
    line-height: 1rem;
    color: rgb(108, 108, 108);
  }

  h6:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .route_detail h6 {
      overflow: hidden;
    }
  }
}

.containerd {
  margin: 20px auto;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  background-color: rgb(255, 255, 255);
  gap: 1.5rem;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 20px;
  overflow: hidden;
  box-shadow: $box-shawdow2;
  height: 590px;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      height: 55%;
    }

    @media (max-width: 768px) {
      img {
        height: auto;
        width: 50%;
      }
    }
  }

  &__detail {
    border-bottom: 1px solid rgb(184, 184, 184);
    line-height: 0.5rem;
    padding: 10px 0;

    h2 {
      font-size: 30px;
      color: rgb(83, 82, 82);
      font-weight: bold;
      line-height: 1.8rem;
      margin: 0;
    }
    h3 {
      font-size: 25px;
      font-weight: bold;
      color: red;
      padding: 25px 10px;
      border: 1px solid black 0.4;
      background-color: $main-background;
      border-radius: 8px;
    }

    p {
      font-size: 16px;
      line-height: 0.2rem;
      color: rgb(73, 73, 73);
    }

    @media screen and (min-width: 480px) {
      p {
        line-height: 1rem;
      }
    }

    .btn-add {
      outline: none;
      padding: 14px 9px;
      border: none;
      border-radius: 7px;
      background-color: $main-background;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: $btn-buy;
      margin-top: 30px;
    }

    .btn-add:hover {
      background-color: $btn-buyhover;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
