.container {
  margin: 0px auto;
  width: 90%;
  box-shadow: $box-shawdow2;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  z-index: 0;

  &__banner {
    margin: 30px auto 20px auto;
    width: 100%;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
    padding: 20px;

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      margin-bottom: 25px;
      span {
        position: absolute;
        display: block;
        top: 145px;
        bottom: 0;
        font-size: 18px;
        color: $text;
        font-weight: 500;
      }
      .item {
        display: flex;
        margin: 15px 20px;
        align-items: center;
        padding: 34px;
        height: 50px;
        width: 50px;
        border: 1px solid rgb(158, 158, 158);
        border-radius: 50%;
        flex-direction: column;
      }

      .img {
        padding: 30px;
      }

      .item:hover {
        background-color: rgb(253, 255, 184);
        border: 1px solid black;
        transition: 0.6s;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container__banner {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .comtainer .container__banner img {
    height: auto;
    width: 100%;
  }
}

.route h6 {
  display: flex;
  position: absolute;
  margin-left: 80px;
  font-size: 16px;
  line-height: 0.5rem;
  color: $main-text2;
}
.route h6:hover {
  cursor: pointer;
}

.product__container {
  margin: 100px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  overflow: hidden;
  box-shadow: $box-shawdow2;

  &--items {
    display: flex;
    justify-content: center;
    height: 440px;
    margin: 30px auto;
    border: 0.2px solid rgb(233, 233, 233);
    border-radius: 8px;
    position: relative;

    .product__item {
      border-radius: 10px;
      padding: 20px;

      // .type {
      //   display: flex;
      // }

      // .button__type {
      //   flex: 1;
      //   padding: 12px 17px;
      //   margin: 5px 0;
      //   font-size: 12px;
      //   background-color: rgb(234, 234, 234);
      //   font-weight: bold;
      //   border-radius: 7px;
      //   background-color: $bg-button;
      //   border: none;
      // }

      .active {
        background-color: black;
        color: white;
      }

      .button__type:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
        cursor: pointer;
      }

      .link {
        text-decoration: none;
        color: black;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 9px 0;
      }

      h3:hover {
        color: blue;
        cursor: pointer;
      }

      h2 {
        margin-left: 25px;
        color: rgb(212, 5, 5);
        font-size: 20px;
        font-style: italic;
        font-weight: 900;
      }

      .form-button {
        display: flex;

        .btn-buy {
          margin-right: 15px;
          width: 50%;
          opacity: 1;
          visibility: hidden;
          padding: 7px 15px;
          border: none;
          border-radius: 5px;
          background-color: $btn-buy;
        }

        .btn-add {
          width: 50%;
          opacity: 1;
          visibility: hidden;
          padding: 7px 15px;
          border: none;
          border-radius: 5px;
          background-color: $btn-add;
        }

        i {
          color: white;
          font-size: 16px;
          font-weight: bold;
        }

        .btn-buy:hover {
          background-color: $btn-buyhover;
          cursor: pointer;
          transition: 0.5s;
        }

        .btn-add:hover {
          background-color: $btn-addhover;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    .product__item .product__img {
      position: relative;
      margin-left: 30px;
    }
    .product__item:hover {
      box-shadow: $box-shadow;
      transition: 0.7s;
      cursor: pointer;
    }

    .product__item:hover .product__img {
      transform: scale(108%);
      transition: 0.9s;
    }

    .product__item:hover .btn-buy {
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      transition: 0.9s;
    }

    .product__item:hover .btn-add {
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      transition: 0.9s;
    }
  }

  &--items:hover {
    border-color: rgb(170, 170, 170);
    box-shadow: $box-shadow;
  }
}
