body {
  margin: 0;
  background-color: $main-background;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Inter Tight", sans-serif;
}
