$main-background: #f8f9fa;
$main-menu: #2693ff;
$main-menu2: #252525;
$main-text: #cecece;
$main-text2: #ffffff;
$text: #000000;
$btn-text: #ffffff;
$error-text: #774a4f;
$error-bg: #f6d6db;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shawdow2: 3px 2px 2px 2px rgb(234, 233, 233);
$des-product: rgb(87, 81, 81);
$bg-button: #e0e6ec;
$btn-buy: rgb(255, 10, 10);
$btn-add: rgb(208, 208, 208);
$btn-buyhover: rgb(178, 31, 31);
$btn-addhover: rgb(151, 151, 151);
