.cart {
  display: flex;
  justify-content: center;
  margin: 40px;
  &__fields {
    background-color: $btn-text;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 3px 5px 8px 5px #eae9e9;
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    &--tb {
      margin: 10px;
      table,
      th,
      td {
        text-align: center;
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
      table {
        width: 1000px;
      }

      &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 50%;
        }
        span {
          color: $main-menu;
          font-weight: bold;
        }
      }

      &--btn__primary {
        border: 2px solid $main-menu;
        border-radius: 30px;
        padding-block: 5px;
        padding-inline: 9px;
        font-size: 15px;
        font-weight: bold;
        background-color: $main-menu;
        color: $btn-text;
        cursor: pointer;
        margin: 10px;
      }

      &--btn__primary:hover {
        border: 2px solid $main-menu;
        background-color: $btn-text;
        color: $main-menu;
      }

      button {
        display: flex;
        margin: 10px;
        border: 2px solid $main-menu;
        border-radius: 17px;
        padding: 10px;
        font-weight: bold;
        background-color: $main-menu;
        color: $btn-text;
        cursor: pointer;
      }
      button:hover {
        border: 2px solid $main-menu;
        background-color: $btn-text;
        color: $main-menu;
      }
    }

    &--item {
      text-align: right;
      margin: 10px;
      h4 {
        display: flex;
        justify-content: right;
        color: $main-menu;
        cursor: pointer;
      }
      h4:hover {
        color: #0b76e1;
      }
    }

    &--button {
      display: flex;
      justify-content: center;
      button {
        border: 2px solid $main-menu;
        border-radius: 17px;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        background-color: $main-menu;
        color: $btn-text;
        cursor: pointer;
      }
      button:hover {
        border: 2px solid $main-menu;
        background-color: $btn-text;
        color: $main-menu;
      }
    }
  }
  &__xCart {
    text-align: center;
    button {
      padding: 10px;
      border-radius: 4px;
      border-color: $main-menu;
      background-color: $main-menu;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      background-color: #fff;
      color: $main-menu;
    }
  }
}
