.new {
  margin: 0;
  display: flex;

  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  &__container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: $box-shawdow2;
    padding: 30px;

    &--item {
      min-height: 250px;
      min-width: 250px;
      height: 350px;
      width: auto;
      padding: 30px;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 6px;
      margin: auto;
      box-shadow: $box-shawdow2;

      &--item:hover {
        border-color: black;
      }

      .link {
        text-decoration: none;
      }

      .new-img img {
        width: 350px;
        margin: auto;
        border-radius: 5px;
        opacity: 0.7;
      }
      .new-img img:hover {
        transform: scale(105%);
        transition: 0.5s;
        opacity: 1;
      }
      .new-title h2 {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .new-title:hover {
        color: blue;
      }

      .new-desc {
        font-size: 15px;
        line-height: 1rem;
      }
    }
  }
}
