.newdetail {
  margin: auto auto;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &__content {
    margin-top: 30px;
    width: 70%;
    box-shadow: $box-shawdow2;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    z-index: 0;
    padding: 20px;

    h1 {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 18px;
      line-height: 1.8rem;
    }
  }

  &__link {
    margin-left: 60px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 20px;
      width: 100%;
      border-bottom: 1px solid rgb(181, 181, 181);
      flex-wrap: wrap;
      img {
        min-width: 120px;
        width: 210px;
        object-fit: cover;
        height: auto;
      }
      .link {
        flex: 1;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.3rem;
        color: blue;
      }
    }

    .link:hover {
      color: rgb(0, 0, 0);
    }
  }
}
