.toast {
  position: fixed;
  top: 110px;
  right: 30px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  min-width: 400px;
  max-width: 450px;
  height: 5%;
  margin-top: 24px;
  animation: slideInLeft ease 0.5s, fadeOut linear 1s 3s forwards;

  &--success {
    border-color: #47d864;
  }

  &--success &__icon {
    color: #47d864;
  }

  &--error {
    border-color: #ff623d;
  }

  &--error &__icon {
    color: #ff623d;
  }

  &__icon {
    font-size: 24px;
    margin: 10px;
  }

  &__body {
    flex-grow: 1;
    &--title {
      font-size: 16px;
      font-weight: 600;
      color: #333;
    }
    &--msg {
      font-size: 14px;
      color: #888;
      line-height: 1.5;
    }
  }

  &__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    cursor: pointer;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
