.updatePass {
  display: flex;
  justify-content: center;
  margin-block: 30px;
  &__fields {
    display: flex;
    flex-wrap: wrap;
    background-color: $btn-text;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    max-width: 30%;
    min-width: 400px;
    height: auto;
    box-shadow: 3px 5px 8px 5px #eae9e9;
    &--item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      h1 {
        color: $text;
      }
      h3 {
        margin: 0;
        width: 95%;
        input {
          width: 97%;
          max-width: 97%;
          min-width: 120px;
          height: 30px;
          border: none;
          margin: 20px auto;
          padding: 10px;
        }
        input:nth-child(1) {
          border-bottom: none;
        }
        input[type="password"]:focus {
          outline: none;
          border-bottom: 1px solid black;
          transform: scale(103%);
          transition: 0.5s;
        }
      }
      h4 {
        margin: 0;
        margin-block: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $error-bg;
        color: $error-text;
        width: 90%;
        height: 40px;
        border-radius: 4px;
      }
      button {
        width: 95%;
        max-width: 95%;
        height: 40px;
        background-color: $main-menu;
        color: $btn-text;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        margin-block: 30px;
        font-weight: bold;
      }
      button:hover {
        background-color: $btn-text;
        color: $main-menu;
      }
    }
  }
}
