.menu {
  background-color: $main-menu2;
  width: 100%;
  position: sticky;
  margin: 0;
  top: 0;
  z-index: 1004;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    background-color: $main-menu;
    &--logo img {
      display: block;
      height: 80px;
      width: 120px;
      margin: 0px 60px 0px 150px;
    }
    &--search {
      display: flex;
      position: relative;
      input {
        background-color: $text;
        border: 0;
        border-radius: 6px;
        font-size: 16px;
        padding: 12px;
        width: 500px;
        height: auto;
        color: $main-text2;
        min-width: 100px;
      }

      &--icon {
        position: absolute;
        right: 9px;
        bottom: 2px;
        border-radius: 0px 6px 6px 0px;
        cursor: pointer;
      }

      &--icon:hover {
        transform: scale(110%);
      }
    }
    &--link {
      display: flex;
      &--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        margin-left: 24px;
        padding-right: 8px;
        font-size: 16px;
        font-weight: 540;
        cursor: pointer;
        color: #000;
        &--cart {
          background-color: rgb(243, 26, 26);
          padding: 3px 6px 3px 6px;
          font-size: 12px;
          text-align: center;
          border-radius: 20px;
          color: #fff;
          position: absolute;
          margin-left: 20px;
        }
      }
      &--item:hover {
        color: $main-text2;
      }
    }

    @media screen and (max-width: 768px) {
      .menu__header--search {
        display: none;
      }

      .menu__header--link {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      .menu__header--logo {
        display: none;
      }
    }
  }

  &__header2 {
    display: flex;
    justify-content: space-around;
    margin-inline: 160px;
    &--link {
      display: flex;
      text-decoration: none;
      color: $main-background;
      align-items: center;
      padding: 6px;
      span {
        margin-right: 10px;
      }
    }
    &--link:hover {
      color: $main-text;
    }
  }
}
